body {
    background-color: #452c50;
}

header {
    width: 100%;
    margin: 75px 0em 1em 0em;
    display: flex;
    flex-direction: row;
    flex-basis: 1;
}

header h2 {
    font-size: 4em;
    color: white;
    width: 33.33%;
    text-align: center;
    transition: 0.2 ease-in-out;
}

header h2 a:hover {
    color: darkgray;
    text-decoration: none;
    font-size: 1.1em;
}

header h2 a:active {
    color: gray;
    text-decoration: none;
    font-size: 0.95em;
}

header h2 a:visited {
    color: white;
    text-decoration: none;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #291a30;
    border-radius: 50%;
    padding: 1em;
    box-shadow: 5px 5px 10px #201427, -5px -5px 10px #5d3c6b;
}

main,
form {
    margin: 2em auto;
    max-width: 960px;
    background-color: #452c50;
    border: 4px solid #291a30;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 5px 5px 10px #201427, -5px -5px 10px #5d3c6b;
}

form {
    width: 640px;
}

#register {
    width: 960px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: #fff;
}

h1,
h2 {
    font-weight: bold;
}

main h1 {
    text-align: center;
    margin-bottom: 0.375em;
    text-transform: uppercase;
}

main p {
    text-align: justify;
    color: #fff;
}

main iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 80%;
    height: 400px;
}